---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from "astro-icon";
import { socials } from "../utils/data";

type Socials = {
    name: string;
    url: string;
    imgSrc: string;
    ariaLabel: string;
};
---

<BaseLayout
    title="Mamadou Mb. DIONE | Socials"
    description="Links for social media of Mamadou Mb. DIONE"
>
    <main>
        <div class="wrapper stack gap-8 lg:gap-20">
            <img
                alt="Mbaye Dione"
                width="480"
                height="620"
                src="https://res.cloudinary.com/dkgciiiov/image/upload/v1697029828/wnhuzaublejkg1iwxs49.png"
            />
        </div>

        <img
            src="https://res.cloudinary.com/dkgciiiov/image/upload/v1697029828/wnhuzaublejkg1iwxs49.png"
            class="mx-auto border-2 border-white border-solid rounded-full w-40 mb-10"
        />
        <h2 class="px-2 mb-3 text-3xl text-center text-white">
            Mamadou Mb. DIONE
        </h2>
        <p class="px-2 mb-10 text-2xl font-bold text-center">
            FullStack Developer based in Senegal
        </p>s
        <div>
            {
                socials.map((opt: Socials) => {
                    return (
                        <a href={opt.url} aria-label={opt.ariaLabel}>
                            <Icon name={opt.imgSrc} class="mr-2" />
                            <p class="text-gray-800">{opt.name}</p>
                        </a>
                    );
                })
            }
        </div>
    </main>
</BaseLayout>
